body {
    display: grid;
    grid-template-rows: 1fr 10fr;
    height: 100vh;
    margin: 0px;
    font-family: sans-serif;
    font-weight: 100;
}
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#siteName {
    padding: 0 40px;
    margin: 0;
    color : rgb(18, 173, 111);
    font-size: 30px;
    font-weight: bold;
    font-stretch: expanded;
    
}
#titleContainer{
    padding: 40px 10px 10px 10px;
}


.pageLink {
    margin: 0 30px;
    text-decoration : none;
    color : black;
}

#container{
    border: 1px solid rgb(228, 228, 228);;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(228, 228, 228);
    overflow:scroll;
}  

#cart{
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70vw;
    border-radius: 15px;
    padding: 10px 0;
}

.allerretourContainer{
    padding: 10px;
    margin: 10px 30px;
    text-align: center;
    background-color: rgb(247, 235, 240);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* display: flex;
    flex-direction: row;
    justify-content: space-around; */
    border-radius: 4px;
}

#button{
    color: white;
    background-color: rgb(6, 99, 71);
  
}
.buttondelete{
    color: white;
    background-color: rgb(6, 99, 71);
  
}
.spanNoBook{
    margin : 20px;
}
#bottomText{
    color : rgb(18, 173, 111);
}
#separationLine{
    border: 1px solid rgb(18, 173, 111);
    margin: 50px 20vw 30px 20vw;
}
#topText {
    padding : 20px;
}
