body {
    height: 100vh;
    margin : 0px;
}
#header {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pageLink {
    margin: 30px;
    text-decoration : none;

    color : black;
}
#container {
    height: 90%;
    background-image: url("./images/background.jpg");
    background-size:cover;
    background-position: center;
}
#boxes {
    display: flex;
    justify-content: center;
}
.box {
    height: 50vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    margin: 0px 50px;
    padding : 20px;
    border-radius: 10px;
}
#inputs {
    display: flex;
    flex-direction: column;
}
.input {
    height: 20px;
    border-radius: 1px;
    border: 1px solid rgba(0, 0, 0, 0.115);
    background-color: rgba(128, 128, 128, 0.081);
}
#dateInput {
    margin-top: 25px;
}