body {
    display: grid;
    grid-template-rows: 1fr 10fr;
    height: 100vh;
    margin : 0px;
    font-family: sans-serif;
    font-weight: 100;
}
#header {
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#siteName {
    padding: 0 40px;
    margin : 0;
    color : rgb(18, 173, 111);
    font-size: 30px;
    font-weight: bold;
    font-stretch: expanded;
    
}

#titleContainer{
    padding: 40px 10px 10px 10px;
}


.pageLink {
    margin: 0 30px;
    text-decoration : none;
    font-family: sans-serif;
    color : black;
}

#container{
    border: 1px solid rgb(228, 228, 228);;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(228, 228, 228);
    overflow: auto;
    
}

#cart{
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70vw;
    border-radius: 15px;

}

.allerretourContainer{
    margin: 10px 30px;
    text-align: center;
    background-color: rgb(247, 235, 240);
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 1fr;
    border-radius: 4px;
    font-family: sans-serif;
    padding: 10px;
    /* display: flex;
    flex-direction: row;
    justify-content: space-around; */
    
}

#total{
    font-family: sans-serif;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    background-color: rgb(6, 26, 71);
    height: 35px;
    border-radius: 0px 0px 15px 15px;

       
}

#button{
    color: white;
    background-color: rgb(6, 99, 71);
    border: 0;
    border-radius: 3px;
  
}
.buttondelete{
    color: white;
    background-color: rgb(6, 99, 71);
    width: 25px;
    border: 0;
    border-radius: 3px;
  
}


