body {
    height: 100vh;
    margin : 0px;
}
#header {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pageLink {
    margin: 30px;
    text-decoration : none;

    color : black;
}

#container{
       display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    background-color:rgb(228, 228, 228)
    
}

#cart{
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70vw;
    border-radius: 15px;
    padding: 10px 0;
}

.allerretourContainer{
    margin: 10px 30px;
    text-align: center;
    background-color: rgb(247, 235, 240);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

#total{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    background-color: rgb(6, 26, 71);
    height: 35px;
    border-radius: 0px 0px 15px 15px;

       
}

#button{
    color: white;
    background-color: rgb(6, 99, 71);
  
}
.buttondelete{
    color: white;
    background-color: rgb(6, 99, 71);
  
}
.spanNoBook {
    margin : 20px;
}


